body {
  justify-content: center;

  background: #153b50;
}

ul {
  /* margin-left: 1%; */

  flex-wrap: wrap;
  display: flex;
  list-style: none;
  gap: 30px;
}

h1 {
  margin-top: 0px;
  padding: 20px;
  width: auto;
 background: #EEEEEE;
font-size: 35px;
}

li {
  width: 350px;
  background: #eeeeee;
  padding: 15px;
  border-radius: 25px;
}

li:hover {
  box-shadow: 5px 5px 5px #326273;
  color: #5C9EAD;
}